
.error {
  border: red 2px solid;
}

.error-message {
  color: red;
}
.active-filter {
  background-color: #11625e;
}
.is-done {
  opacity: 0.5;
}
.remove-button{
  margin-left: 5px;
}
.list-style{
    list-style-type: none;
    padding-left: 0px;
}
.preloader-position{
    margin: 0 auto;
}